.input,
.textarea
  background-color: #fff
  border: 1px solid $grey-3
  border-radius: 0
  color: $text-color
  font-size: 16px
  transition: border-color 0.3s, color 0.3s
  width: 100%

  @media(min-width: 1200px)
    font-size: 18px

  &:focus
    border-color: $grey-2
    box-shadow: none
    outline: none

  &.error
    border-color: $error-color

    &:focus
      border-color: $error-color

  &:disabled
    background-color: $grey-4
    color: $grey-3
    cursor: default

.input
  height: 50px
  line-height: 21px
  padding: 0 20px

  @media(min-width: 1200px)
    font-size: 18px
    height: 60px

.textarea
  height: 155px
  line-height: 24px
  padding: 20px
  resize: none
  vertical-align: top

/*placeholder*/
.input,
.textarea
  &::-webkit-input-placeholder
    color: $grey-2
    opacity: 1

  &::-moz-placeholder
    color: $grey-2
    opacity: 1

  &:-ms-input-placeholder
    color: $grey-2
    opacity: 1

  &::-webkit-input-placeholder
    color: $grey-2
    opacity: 1

  &::-moz-placeholder
    color: $grey-2
    opacity: 1

  &:-ms-input-placeholder
    color: $grey-2
    opacity: 1

/*:focus placeholder*/
.input:focus::-webkit-input-placeholder
  color: $text-color

.input:focus::-moz-placeholder
  color: $text-color

.input:focus:-ms-input-placeholder
  color: $text-color

.textarea:focus::-webkit-input-placeholder
  color: $text-color

.textarea:focus::-moz-placeholder
  color: $text-color

.textarea:focus:-ms-input-placeholder
  color: $text-color
