body
  color: $text-color
  font-family: 'GT Eesti Pro Display', Arial, sans-serif
  font-size: 16px
  line-height: 1.5
  letter-spacing: 0.4px

a
  color: $text-color

b,
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 500

h1, .h1,
h2, .h2
  font-size: 18px
  line-height: 1.44444
  letter-spacing: 0.45px
  margin-bottom: 30px
  margin-top: 0

h1, .h1
  @media(min-width: 1024px)
    font-size: 27px
    margin-bottom: 50px

  @media(min-width: 1200px)
    font-size: 36px
    font-weight: 300
    line-height: 1.13888
    letter-spacing: 0.9px

h2, .h2
  @media(min-width: 1200px)
    font-size: 30px
    line-height: 1.46666
    letter-spacing: 0.75px

.decorated-title
  background: url('../images/icons/dragonfly.svg') no-repeat 50% 0 / 22px 16px transparent
  font-size: 18px
  font-weight: 500
  line-height: 1.44444
  letter-spacing: 0.45px
  margin-bottom: 25px
  padding-top: 55px

  @media(min-width: 1024px)
    background-position: 0 0

  @media(min-width: 1200px)
    background-size: 35px 22px
    font-size: 30px
    line-height: 1.46666
    letter-spacing: 0.75px

.decorated-title-2
  background: url('../images/icons/dragonfly.svg') no-repeat 50% 0 / 22px 16px transparent
  font-size: 18px
  font-weight: 500
  line-height: 1.44444
  letter-spacing: 0.45px
  margin-bottom: 25px
  padding-top: 25px
  text-transform: uppercase
  text-align: center

  @media(min-width: 1024px)
    background: none
    font-size: 27px
    font-weight: 300
    padding-top: 0
    text-transform: none
    text-align: left

  @media(min-width: 1200px)
    font-size: 36px
    line-height: 1.13888
    letter-spacing: 0.9px
    margin-bottom: 50px

h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p,
ul,
ol,
table,
.table-responsive
  margin-top: 0
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

table
  border-collapse: collapse
  max-width: 100%
  text-align: left
  width: 100%

  th,
  td
    border: none
    border-bottom: 1px solid
    padding: 10px
    vertical-align: top

img
  height: auto
  max-width: 100%
  vertical-align: top
