<footer class="footer">
  <div class="footer__top container">
    <div class="footer__logo"><img src="images/logo.svg" alt="WANNA A."></div>
    <ul class="footer__nav">
      <li class="footer__nav-item"><a class="footer__nav-link" href="philosophy.html">Философия WANNA A.</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="news.html">О нас говорят</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="delivery.html">Доставка</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="refound.html">Возврат</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="size.html">Помощь с размером</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="contacts.html">Контакты</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="#">Публичная оферта</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="#">Политика конфиденциальности</a></li>
    </ul>
  </div>
  <p class="footer__bottom">2021 © Wanna A.</p>
</footer>
