<header class="header compensate-for-scrollbar">
  <div class="header__inner">
    <a class="header__logo" href="main.html"><img src="images/logo.svg" alt="WANNA A."></a>
    <div class="header__feedback-block">
      <a class="feedback-link" data-fancybox="feedback_popup" data-src="#feedback_popup" href="javascript:void(0)"><svg class="feedback-link__icon"><use xlink:href="#write"></use></svg> Напишите нам</a>
    </div>
    <div class="header__cart-block">
      <a class="header-cart" href="checkout.html">
        <span class="header-cart__text">Товаров на: 3 500 ₽</span>
        <span class="header-cart__icon-block not-empty"><svg class="header-cart__icon"><use xlink:href="#cart"></use></svg></span>
      </a>
    </div>
    <button class="js-menu-opener header__burger" type="button" title="Меню"><svg class="header__burger-icon"><use xlink:href="#burger"></use></svg></button>
  </div>
  <div class="main-menu">
    <div class="main-menu__top">
      <div class="main-menu__logo"><img src="images/logo.svg" alt="WANNA A."></div>
      <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню"><svg class="main-menu__closer-icon"><use xlink:href="#close"></use></svg></button>
    </div>
    <nav class="main-menu__nav">
      <ul class="main-menu__list">
        <li class="main-menu__item"><a class="main-menu__link" href="catalog.html">Каталог</a></li>
        <li class="main-menu__item"><a class="main-menu__link" href="#">Пройти тест и выбрать надпись</a></li>
        <li class="main-menu__item"><a class="main-menu__link" href="philosophy.html">Философия WANNA A.</a></li>
        <li class="main-menu__item"><a class="main-menu__link" href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
    <div class="main-menu__bottom">
      <a class="button" data-fancybox="feedback_popup_2" data-src="#feedback_popup" href="javascript:void(0)">напишите нам</a>
      <p class="main-menu__side-link">Следите за нами в <a href="#" target="_blank" rel="nofollow noreferrer">INSTAGRAM</a></p>
    </div>
  </div>
</header>
