<section class="subscribe page-block">
  <div class="subscribe__text">
    <h2 class="decorated-title">ДАВАЙ ПРОДОЛЖИМ ОБЩЕНИЕ</h2>
    <p>Узнавать новости и специальные предложения</p>
  </div>
  <form class="subscribe__form" action="">
    <label class="subscribe__form-label">
      <input class="input error" type="email" value="" placeholder="Введите e-mail">
    </label>
    <button class="button button--type_2" type="submit">подписаться</button>
    <p>Нажимая на кнопку «Подписаться», вы соглашаетесь с <a href="#">политикой конфиденциальности</a>.</p>
  </form>
</section>
